#Font{
    font-size: xx-large;
    font-weight: bolder;
    
}
#font{
     font-size: x-large;
    font-weight: bolder;
}

.Style-of-paragraph{
    font-style: italic;
    font-size: large;
    font-weight: bolder;
}

